<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="mad aesthetics, holistic aesthetician located in Salem, Oregon. Offering online skin care products, online skin care bootcamp, and holistic skin care treatment at her aesthetician studio." />
    <meta name="keywords" content="Skin car, aesthetician, holistic, salem oregon, skin care routine, skin care products" />
    <meta name="author" content="GiddyUp Web Design" />
    <meta property='og:image' content='images/new-logo-2.png' />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <title>mad aesthetics </title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/icons/crescent-moon-solid-black.png" />

    <!-- Google Font -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Allura&family=Cormorant+Garamond:wght@400;500;600;700&family=EB+Garamond&family=Marcellus&display=swap" rel="stylesheet">


    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />

    <!-- Page CSS Implementing Plugins-->
    <!-- <link rel="stylesheet" href="css/select2/select2.css" /> -->
    <!-- <link rel="stylesheet" href="css/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/swiper/swiper.min.css" /> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/> -->

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/preload.css" />
    <link rel="stylesheet" href="/css/style.css" />
    
    <!-- <link rel="stylesheet" href="css/style.scss" /> -->
    <link rel="stylesheet" href="/css/bws.css" />
    <link rel="stylesheet" href="/js/glide/dist/css/glide.core.min.css">
    <link rel="stylesheet" href="/js/glide/dist/css/glide.theme.min.css">
    <!-- <link rel="stylesheet" href="css/animations.css" /> -->
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-F8Z0W12M5G"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-F8Z0W12M5G');
      </script>
  </head>

<body id="the-body" class="is-preload">

<!--=================================
header -->
<div id="top-banner" class="col-12 d-flex justify-content-center hidden">
  <p class="d-inline text-center">Notice: My books are temporarily closed to new clients. However, there are still spots available in my <a href="#onlinebootcamp-section" class="whiteText">Online Bootcamp</a></p>
</div>
<section id="top" class="">
  <header class="header header-transparent default header-sticky py-4">
    <div class="row d-flex justify-content-center">
      <nav id="the-nav" class="col-11 navbar navbar-static-top navbar-expand-lg justify-content-center">
        <!-- <div class="d-lg-flex d-none flex-row col-md-3 col-lg-3 align-items-center navbar-collapse collapse" id="navbarmenu">
          <ul class="nav-list col-12 d-flex" id="navbarmenu">
            <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li>
            <li class="nav-item"><a class="nav-link" href="services.html">Services</a></li>
            <li class="nav-item"><a class="nav-link" href="bootcamp.html">Bootcamp</a></li>
          </ul>
        </div> -->
        <ul class="d-lg-flex flex-row justify-content-around col-md-3 col-lg-3 nav-list d-none" id="">
          <!-- <li class="nav-item"><a class="nav-link" href="/bootcamp/login"><img src="/images/icons/user-solid.svg"/></a></li> -->
          <li class="nav-item"><a class="nav-link" href="https://www.vagaro.com/madaesthetics">Book</a></li>
          <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
          <!-- <li class="nav-item"><a class="nav-link" href="/gallery.html">Gallery</a></li> -->
          <!-- <li class="nav-item"><a class="nav-link" href="bootcamp.html">Bootcamp</a></li> -->
          <!-- <li class="nav-item"><a class="nav-link" href="/services.html">Services</a></li> -->
          
        </ul>
        <div class="nav-logo col-8 col-sm-7 col-md-6 col-lg-4 col-xxl-3"><a href="/index.html"><img class="col-12" src="/images/new-logo-2.png"/></a></div>
        <!-- CUSTOM HAMBURGER MENU -->
        <div id="menuToggle" class="position-absolute px-3 d-lg-none">
          <input type="checkbox" />
          <span class=""></span>
          <span class=""></span>
          <span class=""></span>
          <ul id="menu">
            <!-- <li class="nav-item"><a class="nav-link" href="/bootcamp/login"><img src="/images/icons/user-solid.svg"/></a></li> -->
            
            <!-- <li class="nav-item"><a class="nav-link" href="/gallery.html">Gallery</a></li> -->
            <!-- <li class="nav-item"><a class="nav-link" href="bootcamp.html">Bootcamp</a></li> -->
            <!-- <li class="nav-item"><a class="nav-link" href="/services.html">Services</a></li> -->
            
            <!-- <div class="dropdown-divider"></div> -->
            <li class="nav-item"><a class="nav-link" href="https://www.vagaro.com/madaesthetics">Book</a></li>
            <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
            <li class="nav-item"><a class="nav-link" href="/store.html">Store</a></li>
            <li class="nav-item"><a class="nav-link" href="/cart.html"><img src="/images/icons/shopping-cart-black.png"/></a></li>
          </ul>
        </div>
        <ul class="d-lg-flex flex-row justify-content-around col-md-3 col-lg-3 nav-list d-none">
          <li class="nav-item"><a class="nav-link" href="/store.html">Store</a></li>
          <li class="nav-item"><a class="nav-link" href="/cart.html"><img src="/images/icons/shopping-cart-black.png"/></a></li>
          
        </ul>
      </nav>
    </div>
  </header>
</section>
</body>
</html>