<h6>Picture Uploads</h6>
<!-- <p>Please upload a closeup shot of your face. Please do not wear makeup and insure sufficient light.</p> -->
<p>Please upload 3 photos of your face. One from the left, one straight on, and one from the right. Please avoid wearing makeup and insure good lighting.</p>
<div class="col-12 d-flex justify-content-between flex-wrap">
    <input class="col-12 col-md-4 py-1" type="file" id="" name="photos" accept="image/png, image/jpeg">
    <input class="col-12 col-md-4 py-1" type="file" id="" name="photos" accept="image/png, image/jpeg">
    <input class="col-12 col-md-4 py-1" type="file" id="" name="photos" accept="image/png, image/jpeg">
</div>