<%- include('partials/header') -%>
<% if (locals.messages.errors) { %>
    <% messages.errors.forEach( el => { %>
        <div class="alert alert-danger text-center""><%= el.msg %></div>
    <% }) %>    
<% } %>
<% if (locals.messages.info) { %>
    <% messages.info.forEach( el => { %>
        <div class="alert alert-success text-center""><%= el.msg %></div>
    <% }) %>    
<% } %>
<section class="mt-5 py-5 d-flex justify-content-center flex-wrap col-12">
    <div id="changePW" class="mb-5 py-5 d-flex justify-content-center flex-wrap col-12 col-md-8 col-xl-6">
        <h1 class="text-center col-12">Change Password</h1>
        <form class="col-12 d-flex justify-content-center flex-wrap" action="/changePassword" method="POST">
            <!-- <div class="col-12 d-flex justify-content-center mt-3">
                <input type="text" name="oldPassword" placeholder="old password"/>
            </div> -->
            <div class="col-12 d-flex justify-content-center mt-3">
                <input type="text" name="newPassword" placeholder="new password"/>
            </div>
            <div class="col-12 d-flex justify-content-center mt-3">
                <input type="text" name="confirmNewPassword" placeholder="confirm new password"/>
            </div>
            <div class="col-12 d-flex justify-content-center mt-3">
                <a href=""><button type="submit" class="btn btn-primary">Submit</button></a>
            </div>
        </form>
    </div>
    
</section>
<%- include('partials/footer') -%>